body {
    background-color: var(--dark-bg);
    color: var(--primary-white);
    font-family: 'DM Sans', Georgia, 'Times New Roman', Times, serif;
}

/* ---------- HEADER ---------- */

header {
    display: flex;
    padding: 1.8rem 5rem 1.5rem;
    justify-content: space-between;
    background-color: var(--dark-bg);
    border-bottom: 1px solid var(--border-seperator);
    box-shadow: 0 4px 6px -1px rgba(96, 196, 209, 0.2), 0 2px 4px -2px rgba(96, 196, 209, 0.1);
    position: sticky;
    top: 0;
    z-index: 10;
}

nav {
    display: flex;
    gap: 1rem;
    color: var(--primary-white);
    align-items: center;
}

nav > * {
    padding: 0.5rem;
}

nav a {
    color: var(--primary-white);
    transition: text-shadow 0.3s ease;
}

nav > *:hover, .cart:hover {
    color: hotpink;
    text-shadow: 0 0 8px rgba(255, 105, 180, 0.6), 
               0 0 15px rgba(255, 105, 180, 0.4);
}

.cart:hover .cart-icon {
    filter: drop-shadow(0 0 4px rgba(255, 105, 180, 0.6));
}

a {
    text-decoration: none;
}

.selected {
    border-bottom: 1px solid hotpink;
    font-weight: 500;
}

.selected.cart {
    color: hotpink;
    border: none;
    font-weight: 400;
}

.cart {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.3rem;
    color: var(--primary-white);
    padding-bottom: 0.5rem;
    width: 9rem;
}

.cart-icon {
    width: 1rem;
    /* padding-bottom: 0.2rem; */
}

.brand {
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: var(--primary-white);
    letter-spacing: 3px;
}

.cart-count {
    background-color: var(--neon-blue);
    color: var(--dark-bg);
    height: 1.3rem;
    width: 1.3rem;
    font-weight: 600;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

/* ---------- FOOTER ---------- */

footer {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    border-top: 1px solid var(--border-seperator);
    color: var(--gray-text);
    font-size: 0.9rem;
}

.footer-brand {
    letter-spacing: 3px;
    font-weight: 700;
    color: var(--primary-white);
    font-size: 1rem;
}

.info {
    margin-top: 0.5rem;
    display: flex;
    gap: 0.5rem;
}

.info a {
    display: flex;
}

.info a:hover {
    color: hotpink;
}

.external {
    stroke-width: 1.5;
    height: 1rem;
    margin-top: 0.1rem;
    flex-shrink: 0;
}

@media (max-width: 900px) {
    header {
        padding: 1rem 1.5rem;
        flex-wrap: wrap;
        justify-content: center;
    }

    .brand {
        width: 100%;
        text-align: center;
        margin-bottom: 0.5rem;
    }

    nav {
        flex: 1;
    }

    .cart {
        width: auto;
        padding-bottom: 0.5rem;
        align-self: flex-end;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    
}