.cart-page {
    background-image: linear-gradient(100deg, #65cbd20d, transparent 34%, #d34a9809), linear-gradient(#132733 1px, transparent 1px), linear-gradient(90deg, #132733 1px, transparent 1px);
    background-size: auto, 74px 74px, 74px 74px;
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
    padding: 3.5rem 2rem 6rem;
    border-right: 1px solid #132733;
    box-shadow: 0 4px 6px -1px rgba(96, 196, 209, 0.2), 0 2px 4px -2px rgba(96, 196, 209, 0.1);
}

/* ---------- CART HEADER ---------- */

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid var(--border-seperator);
    padding: 1.1rem 0 1.3rem;
    margin-bottom: 2rem;
}

.cart-h1 > em {
    display: inline;
}

.cart-h1 {
    font-weight: 500;
    margin-bottom: 0;
}

.cart-subtitle {
    color: var(--gray-text);
    font-size: 0.9rem;
    margin: 1rem 0 0;
}

.continue-btn {
    color: var(--blue-text);
    font-size: 0.9rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    background-color: transparent;
    border: none;
}

.continue-btn:hover {
    text-shadow: 0 0 6px rgba(96, 196, 209, 0.7),
                0 0 14px rgba(96, 196, 209, 0.4);
}

.continue-btn:hover .arrow-left {
    filter: drop-shadow(0 0 4px rgba(96, 196, 209, 0.7))
            drop-shadow(0 0 10px rgba(96, 196, 209, 0.4));
}

.arrow-left {
    width: 1rem;
}

/* ---------- EMPTY CART ---------- */

.empty-cart {
    padding: 4rem 1.3rem 5.5rem;
    background-color: var(--deep-blue);
    border: 1px solid var(--border-seperator);
    text-align: center;
}

.empty-icon {
    background-color: #142633;
    color: var(--blue-text);
    border: 1px solid #365361;
    box-shadow: 0 0 20px #65cbd225;
    border-radius: 50%;
    margin: 0 auto 1.3rem;
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-eyebrow {
    color: hotpink;
    margin-bottom: 1.7rem;
    font-size: 0.8rem;
    letter-spacing: 1.4px;
}

.empty-h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.empty-cart > p {
    color: var(--gray-text);
    margin-bottom: 1.7rem;
}

.empty-btn-container {
    display: flex;
    justify-content: center;
}

.empty-btn {
    background-color: #132c35;
    color: #8ee5e5;
    border: 1px solid #65cbd2;
    box-shadow: 0 0 16px #65cbd225;
    display: flex;
    padding: 0.9rem 1.4rem;
    transition: transform 0.3s ease-in-out;
}

.empty-btn:hover {
    background-color: var(--blue-text);
    border: 1px solid transparent;
    transform: translateY(-3px);
    color: var(--dark-bg);
}

/* ---------- CART LAYOUT ---------- */

.cart-layout {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.cart-item {
    background-color: #101923;
    padding: 1rem;
    margin-bottom: 0.7rem;
    border-top: 1px solid var(--border-seperator);
    display: flex;
    gap: 1.4rem;
    align-items: center;
    justify-content: space-between;
    width: 38rem;
}

.item-res {
    display: flex;
    gap: 1.4rem;
    align-items: center;
}

.item-thumb {
    height: 7rem;
    width: 7rem;
    display: flex;
    align-items: center;
    background-color: #081018;
    border: 0.7px solid var(--border-seperator);
}

.item-price {
    color: var(--gray-text);
    font-size: 0.8rem;
}

.item-actions {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.total-price {
    color: hotpink;
}

.cart-trash {
    height: 1.1rem;
    stroke-width: 1.5;
    color: hotpink;
}

.trash-btn {
    background-color: transparent;
    border: none;
}

.trash-btn:hover .cart-trash {
    color: white;
}

/* ---------- CART LAYOUT SUMMARY ---------- */

.summary {
    padding: 2rem;
    background-color: #101923;
    border: 1px solid #365361;
    width: 20rem;
    box-shadow: 0 0 24px #65cbd215;
} 

.summary-header {
    margin-bottom: 1.5rem;
    color: var(--neon-blue);
    text-transform: uppercase;
    font-weight: 600;
}

.summary-row {
    display: flex;
    justify-content: space-between;
    color: var(--gray-text);
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.summary-total {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0 1.5rem;
    padding-top: 1.4rem;
    border-top: 1px solid var(--border-seperator);
}

.val {
    color: var(--primary-white);
    font-weight: 500;
}

.checkout-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--neon-blue);
    border: 1px solid var(--neon-blue);
    background-color: #132c35;
    padding: 0.9rem 1.3rem;
    font-size: 0.9rem;
    transition: transform 0.3s ease-in-out;
}

.checkout-btn:hover {
    color: var(--dark-bg);
    background-color: var(--neon-blue);
    box-shadow: 0 0 18px #65cbd255;
    transform: translateY(-3px);
}

.summary-note {
    font-size: 0.8rem;
    color: var(--gray-text);
    text-align: center;
    margin-top: 1rem;
}

@media (max-width: 500px) {
    .cart-page {
        padding: 1.5rem 1rem 4rem;
    }

    .cart-header {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }

    .cart-layout {
        flex-direction: column;
    }

    .cart-item {
        flex-direction: column;
    }

    .summary, .cart-item {
        width: 100%;
    }
}