.cart-page {
    background-image: linear-gradient(100deg, #65cbd20d, transparent 34%, #d34a9809), linear-gradient(#132733 1px, transparent 1px), linear-gradient(90deg, #132733 1px, transparent 1px);
    background-size: auto, 74px 74px, 74px 74px;
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
    padding: 3.5rem 2rem 6rem;
    border-right: 1px solid #132733;
}

/* ---------- CART HEADER ---------- */

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid var(--border-seperator);
    padding: 1.1rem 0 1.3rem;
    margin-bottom: 2rem;
}

.cart-h1 > em {
    display: inline;
}

.cart-h1 {
    font-weight: 500;
    margin-bottom: 0;
}

.cart-subtitle {
    color: var(--gray-text);
    font-size: 0.9rem;
    margin: 1rem 0 0;
}

.continue-btn {
    color: var(--blue-text);
    font-size: 0.9rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    background-color: transparent;
    border: none;
}

.continue-btn:hover {
    text-shadow: 0 0 6px rgba(96, 196, 209, 0.7),
                0 0 14px rgba(96, 196, 209, 0.4);
}

.continue-btn:hover .arrow-left {
    filter: drop-shadow(0 0 4px rgba(96, 196, 209, 0.7))
            drop-shadow(0 0 10px rgba(96, 196, 209, 0.4));
}

.arrow-left {
    width: 1rem;
}

/* ---------- EMPTY CART ---------- */

.empty-cart {
    padding: 4rem 1.3rem 5.5rem;
    background-color: var(--deep-blue);
    border: 1px solid var(--border-seperator);
    text-align: center;
}

.empty-icon {
    background-color: #142633;
    color: var(--blue-text);
    border: 1px solid #365361;
    box-shadow: 0 0 20px #65cbd225;
    border-radius: 50%;
    margin: 0 auto 1.3rem;
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-eyebrow {
    color: hotpink;
    margin-bottom: 1.7rem;
    font-size: 0.8rem;
    letter-spacing: 1.4px;
}

.empty-h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.empty-cart > p {
    color: var(--gray-text);
    margin-bottom: 1.7rem;
}

.empty-btn-container {
    display: flex;
    justify-content: center;
}

.empty-btn {
    background-color: #132c35;
    color: #8ee5e5;
    border: 1px solid #65cbd2;
    box-shadow: 0 0 16px #65cbd225;
    display: flex;
    padding: 0.9rem 1.4rem;
    transition: transform 0.3s ease-in-out;
}

.empty-btn:hover {
    background-color: var(--blue-text);
    border: 1px solid transparent;
    transform: translateY(-3px);
    color: var(--dark-bg);
}