/* ---------- SLIDER ---------- */

.slider {
    border: 1px solid var(--border-seperator);
    padding: 1.3rem;
    background-color: #0b1119cc;
    margin: 1.5rem 4.5rem 0 4.5rem;
}

.slider > * {
    text-align: center;
}

.slider-eyebrow {
    color: hotpink;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.slider-header {
    color: var(--primary-white);
    font-size: 1.5rem;
    font-weight: 500;
}

.slider-desc {
    color: var(--gray-text);
    font-size: 0.9rem;
}

.slider-dots {
    display: flex;
    gap: 0.5rem;
    margin-top: 2rem;
    justify-content: center;
}

.slider-dot {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.slider-dot.active {
    background: var(--blue-text);
    box-shadow: 0 0 8px #71d6d855;
    transform: scale(1.2);
    border: 1px solid transparent;
}


/* ---------- HERO ---------- */

main {
    /* min-height: 70vh; */
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 4rem;
    padding: 2.5rem 5rem 4rem;
}

.eyebrow {
    font-size: 0.8rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: var(--blue-text);
    letter-spacing: 2px;
    font-weight: 600;
}

h1 {
    font-size: 4.5rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 1.8rem;
}

h1 em {
    font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    display: block;
}

.hero-desc {
    color: var(--gray-text);
    max-width: 24rem;
    margin-bottom: 2rem;
}

.hero-btn {
    display: inline-flex;
    gap: 0.6rem;
    padding: 1rem 1.25rem;
    background-color: var(--blue-text);
    color: black;
    font-size: 0.9rem;
    transition: transform 0.3s ease;
    align-items: center;
    margin-bottom: 0.5rem;
}

.hero-btn:hover {
    transform: translateY(-5px);
    background-color: rgb(138, 203, 211);
}

.arrow-right {
    width: 1.1rem;
}

.hero-meta {
    display: flex;
    gap: 0.5rem;
}

.radio-icon {
    width: 1rem;
}

.hero-art {
    position: relative;
    box-shadow: 0 0 0 1px #65cbd218, 0 22px 70px #00000070;
    background: linear-gradient(to right, #909090, #ffffff);
    font-family: monospace;
    font-size: 0.7rem;
    color: rgba(216, 240, 216, 0.919)
}

.hero-art img {
    min-height: 29rem;
    object-fit: cover;
    object-position: center;
    filter: brightness(.42) saturate(.9) contrast(1.1);
}

.hud-top {
    position: absolute;
    top: 1rem;
    left: 1rem;
    right: 1rem;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

.hud-bottom {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

.hud-bottom div:nth-of-type(1) {
    color: lightgreen   ;
}

.pulse {
    display: inline-block;
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
    background-color: lightgreen;
    animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
    0%, 100% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 0.7;
        transform: scale(0.7);
    }
}

.hero-crosshair {
    position: absolute;
    z-index: 2;
    width: 58px;
    height: 58px;
    top: 46%;
    left: 50%;
    border: 1px solid #71d6d855;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

/* Vertical line */
.hero-crosshair::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 150%;
  background: #71d6d855;
  left: 50%;
  top: 0;
  transform: translateY(-15%);
}

/* Horizontal line */
.hero-crosshair::after {
  content: "";
  position: absolute;
  width: 150%;
  height: 2px;
  background: #71d6d855;
  top: 50%;
  left: 0;
  transform: translateX(-15%);
}

/* ---------- PRINCIPLES ---------- */

.principles {
    background-color: #0b1119cc;
    padding: 2rem 5rem;
    color: var(--gray-text);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 150px;
}

.principle {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    max-width: 20rem;
}

.principle-head {
    color: var(--primary-white);
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.principle-icon {
    color: hotpink;
    flex-shrink: 0;
    margin-top: 0.2rem;
    stroke-width: 1;
}

.principle > div > div:nth-of-type(2) {
    font-size: 0.9rem;
}

/* ---------- FEATURED ---------- */

.featured {
    padding: 5rem 5rem 4rem;
}

.featured-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.featured-btn {
    color: var(--blue-text);
    border-bottom: 1px solid var(--blue-text);
    display: flex;
    gap: 0.5rem;
    font-size: 0.9rem;
}

h2 {
    font-size: 4rem;
    font-weight: 500;
}

h2 em {
    font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.featured-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.featured-card {
    transition: transform 0.4s ease;
    transform-origin: left bottom;
}

.featured-card:hover {
    transform: rotate(-2deg);
}

.featured-img {
    height: 15rem;
    width: 100%;
    object-fit: cover;
}

.featured-card-copy {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}

h3 {
    font-weight: 400;
}

strong {
    color: hotpink;
}

.featured-card-copy p {
    color: var(--blue-text);
    font-size: 0.9rem;
}

/* ---------- PICK ---------- */

.pick {
    padding: 6rem 5rem 7rem;
    border-top: 1px solid var(--border-seperator);
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 6px -1px rgba(96, 196, 209, 0.2), 0 2px 4px -2px rgba(96, 196, 209, 0.1);
}

.pick h2 {
    line-height: 1;
}

.pick h2 em {
    display: block;
}

.pick-note {
    max-width: 16rem;
    color: var(--gray-text);
}

.pick-btn {
    display: inline-flex;
    gap: 0.5rem;
    color: var(--blue-text);
    font-size: 0.9rem;
    border-bottom: 1px solid var(--blue-text);
}

.pick-btn > .arrow-right, .gamepad {
    color: hotpink;
}

.gamepad {
    margin-bottom: 1rem;
}

@media (max-width: 900px) {
    .hero {
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 2rem;
    }

    .hero-copy > * {
        text-align: center;
    }

    .hero-desc {
        margin: 0 auto 2rem;
    }

    .hero-meta {
        display: flex;
        justify-content: center;
    }

    h1 {
        font-size: 3rem;
    }

    .principles {
        grid-template-columns: 1fr;
        gap: 1.3rem;
        padding: 2rem;
    }

    .principles > * {
        justify-self: center;
    }

    .featured {
        padding: 2rem;
    }

    .featured-top {
        flex-direction: column;
    }

    .featured-btn {
        align-self: flex-start;
        margin-top: 0.5rem;
    }

    .featured-grid {
        grid-template-columns: 1fr;
    }

    h2 {
        line-height: 1;
        font-size: 2.5rem;
        align-self: flex-start;
    }

    .pick {
        padding: 2rem;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
        text-align: center;
    }

    .gamepad {
        margin: 1rem auto;
    }
    
}