:root {
    --gray-text: rgb(143, 156, 167);
    --dark-bg: rgba(8, 11, 18);
    --primary-white: rgb(233, 237, 240);
    --border-seperator: rgb(41, 70, 83);
    --blue-text: rgb(96, 196, 209);
    --deep-blue: #101923;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}